*{
  font-family: 'Roboto', sans-serif;
}

h1,h2{
  font-family: 'Montserrat', sans-serif;
}

/*Resize image height and width*/
img{
    height: 300px;
    width: 250px;
}

#landing{
  height: 80vh;
  /*will center elements vertically using Flexbox*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gallery{
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 16px;
}


ul{
  list-style: none;
  padding: 0;
}

h2{
  color: #007bff; /*Hexadecimal Value of Blue*/
}

.tools{
    padding: 25px;
    height: 200px;
    border: 5px solid #f2f2f2;
    margin: 20px;
    width: 75%;
    color: white;
}

html{
  scroll-behavior: smooth;
}


/*Override Bootstrap CSS Rules*/
.jumbotron {
    background-color: transparent;
}

